html {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#gallery {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  #gallery {
    display: flex;
  }
}

#counter {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#font-size-control {
  display: flex;
  margin-top: 60px;
}
